@import url('root.css');

.layout-menu .app-brand {
    height: auto !important;
    min-height: 75px;
    padding: 10px 14px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: relative;
    z-index: 10;
}

.layout-menu .app-brand .app-brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.layout-menu .main-logo {
    max-height: 100px !important;
    width: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
    object-fit: contain !important;
    display: block;
    margin: 0 auto;
}

.layout-menu .small-logo {
    display: none;
    max-height: 42px !important;
    width: auto !important;
    padding: 0 !important;
    object-fit: contain !important;
    margin: 0 auto;
}

.hide-important {
    display: none !important;
}

.layout-menu-collapsed .main-logo {
    display: none !important;
}

.layout-menu-collapsed .small-logo {
    display: block !important;
}

.layout-menu-collapsed.layout-menu-hover .main-logo {
    display: block !important;
}

.layout-menu-collapsed.layout-menu-hover .small-logo {
    display: none !important;
}

.bg-menu-theme.menu-vertical .menu-item.active > .menu-link:not(.menu-toggle) {
    background: linear-gradient(92deg, var(--bs-primary) 22.16%, var(--bs-primary-light3) 76.47%)
}

.breadcrumb-item, .breadcrumb-item a {
    color: var(--bs-primary) !important;
}
a:hover {
    color: var(--bs-primary-light) !important;
}
.breadcrumb-item, .breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color) !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: var(--bs-primary-light) !important;
    border-color: var(--bs-primary-light3) !important;
}
.btn-light {
    color: #fff;
    background-color: var(--bs-primary-light);
    border-color: var(--bs-primary-light);
}

.readonly-look {
    background-color: #e9ecef !important;
    cursor: not-allowed;
    pointer-events: none;
}
.menu-icon {
    margin-right: 0 !important;
}
